.match-form-div {
  display: flex;
  flex-direction: column;
  width: 30vh;
}

.match-form-player-input-div {
  display: flex;
}

.validation-error {
  color: red;
}

.match-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.form-input {
  display: flex;
}

.match-form-input {
  width: 100%;
  margin: 10px 5px 10px 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.match-form-input-file {
  margin: 20px 5px 0 5px;
}
.match-form-input-file input {
  margin: 0 5px;
}
.match-form-input-file select {
  margin: 0 5px;
}

.match-form-input input {
  width: 10%;
  margin: 0 5px;
}

.match-form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.match-form-submit-button-div {
  display: flex;
  justify-content: center;
  margin: 2vh 0 0 0;
  column-gap: 12px;
}