.player-profile-title {
  font-size: x-large;
  font-weight: 600;
}

.player-profile-player-event-list-sidepanel-div {
  border: 1px solid white;
}

.player-profile-player-event-list-title{
  font-size: large;
  font-weight: 600;
}