.validation-error {
  color: red;
}

.event-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.event-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 450px;
}

.form-input {
  display: flex;
}

.event-form-input {
  width: 100%;
  margin: 20px 5px;
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 16px;
}

.event-form-input-file {
  margin: 20px 5px 0 5px;
}
.event-form-input-file input {
  margin: 0 5px;
}
.event-form-input-file select {
  margin: 0 5px;
}

.event-form-input input, .event-form-input select, .event-form-input textarea {
  flex-grow: 1;
  color-scheme: dark;
}

.event-form-input-label-span {
  flex-basis: 100px;
  display: flex;
  justify-content: end;
  margin: 4px 0;
}

.event-form-eventlist-textarea {
  display: flex;
  justify-content: start;
}

.event-form-submit-button-div {
  display: flex;
  justify-content: center;
  margin: 2vh 0 0 0;
  column-gap: 12px;
}