.hidden {
  display: none;
}

.bold {
  font-weight: 600;
}

.deck-stats-content-div {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.deck-stats-headers {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.deck-stats-header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.deck-stats-header-title {
  font-weight: 600;
  font-size: xx-large;
  margin: 0
}
.deck-stats-header-stat {
  font-weight: 600;
  font-size: xx-large;
  margin: 0;
}

.deck-stats-matchups-header {
  margin: 2vh 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.deck-stats-matchups-header-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
}
.deck-stats-matchups-header-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1vh 0 0;
}
.deck-stats-matchups-header-title {
  font-size: x-large;
  font-weight: 600;
}
.deck-stats-matchups-header-filters-div {
  display: flex;
  justify-content: space-between;
}
.deck-stats-matchups-header-filter {
  font-size: large;
  margin: 0 .5vh;
}
.deck-stats-matchups-header-filter:hover {
  cursor: pointer;
}

.deck-stats-matchups-content-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.200);
}
.deck-stats-matchups-content-headers-div {
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
}
.deck-stats-matchups-content-header {
  font-size: medium;
  font-weight: 600;
  width: 33%;
}

.deck-stats-matchups-content-matchup-div {
  overflow-y: scroll;
  padding: 0 0 0 3vh;
}
.deck-stats-matchups-content-matchup-div::-webkit-scrollbar {
  display: none;
}

.matchup-tile-content-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.matchup-tile-content {
  width: 33%;
}