.match-stats-player-tile {
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
}

.match-stats-player-tiles-div {
  background-color: rgba(0, 0, 0, 0.200);
  width: 30%;
  margin: 0 0 0 3vh;
}
.match-stats-player-tile {
  font-size: medium;
  width: 67%;
}

.match-stats-matchups-content-headers-div {
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
}
.match-stats-matchups-content-header {
  font-size: medium;
  font-weight: 600;
  width: 33%;
  display: flex;
  justify-content: start;
}