.add-event-modal-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  width: 90%;
  border-radius: 1vh;
  box-shadow: inset rgb(0, 0, 0, 0.6) 0px 5px 30px 0px;
  font-size: x-large;
  font-weight: 600;
  color: #fff;
  margin: 1vh 0;
  transition: box-shadow 1s ease;

}
.add-event-modal-tile:hover {
  box-shadow: rgb(0, 0, 0, 0.6) 0px 5px 30px 0px;
  font-size: xx-large;

  cursor: pointer;
}