body {
  font-family: Arial, Helvetica, sans-serif;
}

.deck-tile-div {
  border-radius: 10px;
  scale: 1;
  transition: background-color .2s ease;
  margin: 0 0 5vh 5vh;
  height: 200px;
  width: 200px;
  background-color: lightgray;
  background-size: 420px;
  transition: background-size .2s ease;
}
.deck-tile-div:hover {
  background-color: gray;
  background-size: 500px
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale .2s ease;
}
.add:hover {
  scale: 1.1;
}
.add-deck-tile-plus {
  font-size: xxx-large;
  font-weight: 600;
}

.deck-tile-content-div {
  background-color: black;
  opacity: 60%;
  height: 70%;
  width: 100%;
  margin: 13% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck-tile-deck-name {
  margin: 15px 0 0 0;
  font-weight: 600;
  opacity: 100%;
  font-size: x-large;
}

.deck-tile-deck-format {
  margin: 0;
  font-size: small;
}

.icon {
  height: 1.6vh;
  width: 1.6vh;
  margin: .5vh 0 0 .5vh;
}

.deck-tile-icon-div {
  display: flex;
  justify-content: space-around;
}

.deck-tile-mana-symbol-div {
  margin: 5% 0 0 0;
  display: flex;
  justify-content: center;
}
.deck-tile-mana-symbol-div img {
  margin: 0 5% 0 0;
}

.deck-tile-win-percent-matches-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: .5vh 0 0 0;
}

.deck-tile-win-percent-div {
  display: flex;
  flex-direction: column;
}
.deck-tile-win-percent-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 600;
  font-size: large;
}
.deck-tile-win-percent {
  display: flex;
  justify-content: center;
  margin: 0;
}

.deck-tile-matches-div {
  display: flex;
  flex-direction: column;
}
.deck-tile-matches-title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 600;
  font-size: large;
}
.deck-tile-matches {
  display: flex;
  justify-content: center;
  margin: 0;
}