.match-stats-body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  column-gap: 10%;
}

.match-stats-matchup-divs-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  width: 100%;
}

.match-stats-player-tile {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 20px;
  column-gap: 20px;
  width: 100%;
  font-size: medium;

}
.match-stats-player-tile-p {
  width: 100%;
}

.match-stats-player-tiles-div {
  background-color: rgba(0, 0, 0, 0.200);
  margin: 0 0 0 20px;
  height: 20vh;
  overflow-y: scroll;
}
.match-stats-player-tiles-div::-webkit-scrollbar {
  display: none;
}
.match-stats-player-tile:hover {
  background-color: rgba(105, 105, 105, 0.202);
}

.match-stats-deck-tile {
  font-size: medium;
  width: 100%;
  display: flex;
  column-gap: 20px;
  padding: 0 0 0 20px;
}
.match-stats-deck-tile:hover {
  background-color: rgba(105, 105, 105, 0.202);
}
.match-stats-matchups-content-headers-div {
  display: flex;
  column-gap: 20px;
  padding: 0 0 0 20px;
}
.match-stats-matchups-content-header {
  font-size: medium;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: start;
}
.event-stats-deck-tile-p {
  width: 100%;

}

.match-stats-pie-chart-div {
  width: 100%;
  height: 100%;
}