/* TODO: Add sitewide styles */

:root {
  --main-bg-color: #1a1b1c;
  --main-highlight-color: #2b2d2e;

  --red: rgba(200, 10, 10, 0.100);
  --blue: rgba(10, 10, 200, 0.100);
  --black: rgba(64, 10, 200, 0.1);
  --green: rgba(10, 128, 10, 0.1);
  --white: rgba(228, 233, 80, 0.1);
}

body {
  background-color: var(--main-bg-color);
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#root > div  {
  width: 100%;
  max-width: 1450px;
}

input, select, textarea {
  border: 1px solid white;
  padding:4px;
  margin:4px;
  border-radius:5px;
  background-color: var(--main-bg-color);
  color: white;
  transition: box-shadow 250ms ease-in-out, background-color 200ms ease-in-out;
  box-shadow: none;
}
input:focus, select:focus, textarea:focus {
  box-shadow: rgb(255, 255, 255, 0.6) 0px 5px 30px 0px;
  background-color: var(--main-highlight-color);
}


button {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 5px;
  background: var(--main-highlight-color);
  border: none;
  outline: none;
  color: white;
  padding:4px 12px;
  margin:4px;
  box-sizing:border-box;
}
button:hover {
  scale:1.1;
  cursor: pointer;
}

button.standard {
  outline: 3px solid white;
  border: 1px solid black;
}

button.block {
  font-size: large;
  background: none;
  padding: 10px 25px;
  margin: 0;
}