.nav-bar-div {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(var(--blue), var(--red));
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.nav-bar-inner-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
  max-width: 1550px;
  width: 100%;
}

.nav-bar-home-profile-div {
  display: flex;
  align-items: center;
  column-gap: 1vh;
  height: 100%;
}

.nav-bar-home-icon-div {
  height: 100%;
}
.nav-bar-home-icon-div:hover {
  cursor: pointer;
}

.nav-bar-home-icon {
  height: 100%;
  width: 100%;
}

.nav-bar-profile-section {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  position: relative;
}

.nav-bar-profile-div:hover {
  cursor:pointer;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 15px;
  
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px 0 12px 12px;
  background: var(--main-bg-color);
  border: 3px solid white;
}

.profile-section {
  display: flex;
  flex-direction: column;
}

.profile-label {
  text-decoration: underline;
  color: #bbb;
}

.profile-button {
  width: 100px;
}

.profile-menu-button {
  display: flex;
}

.logo {
  width: 50px;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
  transition: filter 500ms ease-in-out, transform 300ms ease-in-out;
  padding: 15px;
}

.logo:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  cursor: pointer;
}

.logo:active {
  transform: scale(1.2);
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 1));
}