.nav-bar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
}

.nav-bar-home-profile-div {
  display: flex;
  align-items: center;
  column-gap: 1vh;
  height: 100%;
}

.nav-bar-home-icon-div {
  height: 100%;
}
.nav-bar-home-icon-div:hover {
  cursor: pointer;
}

.nav-bar-home-icon {
  height: 100%;
  width: 100%;
}

.nav-bar-profile-section {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
}

.nav-bar-profile-div:hover {
  cursor:pointer;
}

.profile-dropdown {
  position: absolute;
}

.profile-menu-button {
  display: flex;
}

.logo {
  width: 50px;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
  transition: filter 500ms ease-in-out, transform 300ms ease-in-out;
  padding: 15px;
}

.logo:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  cursor: pointer;
}

.logo:active {
  transform: scale(1.2);
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 1));
}