.nav-bar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-home-profile-div {
  display: flex;
  align-items: center;
  column-gap: 1vh;
  height: 100%;
}

.nav-bar-home-icon-div {
  height: 100%;
}
.nav-bar-home-icon-div:hover {
  cursor: pointer;
}

.nav-bar-home-icon {
  height: 100%;
  width: 100%;
}

.nav-bar-profile-div:hover {
  cursor:pointer;
}

.profile-dropdown {
  position: absolute;
}

.profile-menu-button {
  display: flex;
}