.deck-form-errors-div {
  height:1vh;
}
.validation-error {
  display: flex;
  justify-content: center;
  font-size:small;
  color: red;
}

.deck-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.deck-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 450px;
}

.form-input {
  display: flex;
}

.deck-form-input {
  width: 100%;
  margin: 20px 5px;
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 16px;
}

.deck-form-input-label-span {
  flex-basis: 100px;
  display: flex;
  justify-content: end;
  margin: 4px 0;
}

.deck-form-input-file {
  margin: 20px 5px 0 5px;
}
.deck-form-input-file input {
  margin: 0 5px;
}
.deck-form-input-file select {
  margin: 0 5px;
}

.deck-form-input input, .deck-form-input select, .deck-form-input textarea {
  flex-grow: 1;
}

.deck-form-decklist-textarea {
  display: flex;
  justify-content: start;
  resize: vertical;
}

.deck-form-submit-button-div {
  display: flex;
  justify-content: center;
  margin: 2vh 0 0 0;
}