.deck-details-div {
  display: flex;
  justify-content: center;
}

.deck-details-title {
  font-size: x-large;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.breadcrumb-link:hover {
  cursor: pointer;
}

.deck-details-decklist-sidepanel-div {
  /* border: 1px solid white; */
  background-color: rgba(47, 51, 109, 0.202);
  width: 230px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1vh;
  overflow-y: scroll;
  position: sticky;
  top: 20px;
}
.deck-details-decklist-sidepanel-div::-webkit-scrollbar {
  display: none;
}


.deck-details-decklist-title{
  font-size: large;
  font-weight: 600;
}

.deck-details-deck-stats-page-selector {
  font-size: large;
  font-weight: 300;
}
.deck-details-deck-stats-page-selector-selected {
  font-size: x-large;
  font-weight: 600;
}
.deck-details-deck-stats-page-selector:hover {
  cursor: pointer;
}
.deck-details-deck-stats-page-selector-selected:hover {
  cursor: default;
}

.deck-details-deck-stats-selection-div {
  display: flex;
  align-items: baseline;
  width: 90%;
  column-gap: 2%;
}


.deck-details-stats-matches-div {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.deck-details-deck-stats-div {
  height: 500px;
  width: 850px;
  margin: 0 0 0 2vh;
  /* border: 1px solid white; */
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(47, 51, 109, 0.202);
}

.deck-details-deck-matches-title {
  font-size: large;
  font-weight: 600;
  margin: 1vh 0 0 2vh;
  display: flex;
}

.deck-details-deck-matches-div {
  display: flex;
  margin: 1vh 2vh;
  flex-wrap: wrap;
  column-gap: 2vh;
  row-gap: 2vh;
}
